src/main/app/dbconnect.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">

	<flow name="html-form-flow">
		<parse-template location="form.html" doc:name="Parse Template" />
		<set-property value="text/html" propertyName="Content-Type"
			doc:name="Property" />
	</flow>
    <flow name="dbconnectFlow">
        <mongo:add-user config-ref="Mongo_DB__Configuration" newPassword="MSPassW0rd123" newUsername="#[payload.uname]" doc:name="Mongo DB"/>
    </flow>
	<flow name="delete-mongo-record-flow">
		<dw:transform-message doc:name="Create query">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"_id": inboundProperties."http.query.params"."_id"
}]]></dw:set-payload>
		</dw:transform-message>
		<mongo:remove-documents config-ref="Mongo_DB__Configuration"
			collection="${mongo.collection}" doc:name="Delete record" />
		<set-payload value="#[payload]"
			doc:name="Set Payload" />
	</flow>
    <flow name="update-mongo-record-flow">
        <dw:transform-message doc:name="Create query">
            <dw:set-variable variableName="query"><![CDATA[%dw 1.0
%output application/java
---
{
	"_id": inboundProperties."http.query.params"."_id"
}
]]></dw:set-variable>
        </dw:transform-message>
        <dw:transform-message doc:name="Create element">
            <dw:set-variable variableName="updateValue"><![CDATA[%dw 1.0
%output application/java
---
 payload
]]></dw:set-variable>
        </dw:transform-message>
        <mongo:update-documents config-ref="Mongo_DB__Configuration" collection="${mongo.collection}" element-ref="#[flowVars.updateValue]" query-ref="#[flowVars.query]" doc:name="Update record"/>
        <set-payload value="#[payload]" doc:name="Set Payload"/>
    </flow>
	<flow name="read-mongo-record-flow">
		<dw:transform-message doc:name="Create query">
			<dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
{
	"_id" : inboundProperties.'http.query.params'."_id"
}]]></dw:set-payload>
		</dw:transform-message>
		<mongo:find-one-document config-ref="Mongo_DB__Configuration"
			collection="${mongo.collection}" doc:name="Read record" />
		<set-payload value="#[payload]"
			doc:name="returnResults" />
	</flow>
	<flow name="create-mongo-record-flow">
		<logger
			message="Creating record in Mongo. Message will be '#[payload.message]'"
			level="INFO" doc:name="Logger" />
		<mongo:insert-document config-ref="Mongo_DB__Configuration"
			collection="${mongo.collection}" doc:name="Save record to Mongo" />
		<set-payload value="#[payload]" doc:name="Set Payload" />

	</flow>
</mule>